* {
    margin: 0;
    padding: 0;
}

h1 {
    color: navy;
    text-align: center;
}

.mytag {
    padding: 5px;
    margin: auto;
    border: 1px solid navy;
    width: 200px;
    text-align: center;
    background-color: lightblue;
    font-weight: bold;
    color: navy;
}

.mytag:hover {
    color: white;
    background-color: navy;
}